<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="local.dodotech.ehubank">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".vista.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".vista.ActividadPantallaPrincipal"
            android:label="@string/title_activity_pagina_principal"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".vista.Actividad_Nuevo"
            android:label="Nuevo..."
            ></activity>
        <activity android:name=".vista.ActividadPreferencias"
            android:label="Configuración"/>
        <activity android:name=".vista.ActividadTransaccionExterna"
            android:label="Nueva transacción"/>
        <activity android:name=".vista.ActividadTransaccionInterna"
            android:label="Nueva transacción"/>
        <activity android:name=".vista.ActividadTransaccionContacto"
            android:label="Nueva transacción"/>
        <activity android:name=".vista.ActividadRegistro"
            android:label="Registrarse"/>
        <activity android:name=".vista.ActividadVerTransaccionesCuenta"
            android:label="Ver transacciones"/>
        <!--
        <activity
            android:name=".vista.MainActivity"
            android:label="@string/title_activity_actividad_pantalla_principal" />
        <activity android:name=".vista.Actividad_Nuevo"></activity>
        -->
    </application>

</manifest>